<a href="https://colab.research.google.com/github/Buumbl4/aula_inicial_R/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [2]:
clientes <- read.csv('/content/clientes.csv')

In [3]:
transacoes_milhas <- read.csv('/content/transacoes_milhas.csv')

In [4]:
transacoes_passagens <- read.csv('/content/transacoes_passagens.csv')

In [5]:
head(clientes)

  id_cliente data_nascimento status_fidelidade milhas_acumuladas gasto_total
1 1          1971-01-09      Diamante          2833              1906.69
2 2          1996-08-11      Diamante          8864               493.58
3 3          1994-07-18      Diamante           917               519.16
4 4          2003-03-08      Prata             8773              1256.60
5 5          1962-06-05      Diamante          1492               410.37
6 6          1988-02-08      Prata             6270               250.93

In [6]:
transacoes_milhas %>% head()

  id_cliente data_venda_milhas milhas_vendidas valor_recebido
1 350        2023-02-23        4131             536.88
2 109        2022-09-26        6525             113.70
3 376        2022-06-12        9955             466.73
4 443        2022-12-17        5913            1489.56
5 647        2023-10-06         284            1908.38
6 818        2023-05-29        4225            1339.10

In [7]:
transacoes_passagens %>% glimpse()

Rows: 1,000
Columns: 6
$ id_cliente        <int> 507, 86, 589, 774, 705, 316, 801, 149, 11, 154, 363,…
$ data_transacao    <chr> "2023-01-30", "2023-03-07", "2022-02-11", "2022-09-2…
$ milhas_utilizadas <int> 9837, 6067, 2893, 2274, 6043, 1798, 4354, 6976, 6344…
$ valor_pago        <dbl> 424.31, 513.52, 1320.34, 1000.44, 1607.35, 1802.67, …
$ classe_voo        <chr> "Economica", "Economica", "Primeira Classe", "Econom…
$ numero_voo        <int> 3705, 9504, 1695, 2963, 9190, 6242, 2415, 6747, 3509…

In [8]:
clientes %>% glimpse()

Rows: 1,000
Columns: 5
$ id_cliente        <int> 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 1…
$ data_nascimento   <chr> "1971-01-09", "1996-08-11", "1994-07-18", "2003-03-0…
$ status_fidelidade <chr> "Diamante", "Diamante", "Diamante", "Prata", "Diaman…
$ milhas_acumuladas <int> 2833, 8864, 917, 8773, 1492, 6270, 2583, 8263, 8914,…
$ gasto_total       <dbl> 1906.69, 493.58, 519.16, 1256.60, 410.37, 250.93, 92…

In [9]:
transacoes_milhas %>% glimpse()

Rows: 1,000
Columns: 4
$ id_cliente        <int> 350, 109, 376, 443, 647, 818, 32, 770, 707, 842, 170…
$ data_venda_milhas <chr> "2023-02-23", "2022-09-26", "2022-06-12", "2022-12-1…
$ milhas_vendidas   <int> 4131, 6525, 9955, 5913, 284, 4225, 2854, 6127, 5091,…
$ valor_recebido    <dbl> 536.88, 113.70, 466.73, 1489.56, 1908.38, 1339.10, 1…

In [10]:
transacoes_passagens <- transacoes_passagens %>% select(id_cliente, data_transacao, milhas_utilizadas, valor_pago)

In [11]:
transacoes_passagens %>% glimpse()

Rows: 1,000
Columns: 4
$ id_cliente        <int> 507, 86, 589, 774, 705, 316, 801, 149, 11, 154, 363,…
$ data_transacao    <chr> "2023-01-30", "2023-03-07", "2022-02-11", "2022-09-2…
$ milhas_utilizadas <int> 9837, 6067, 2893, 2274, 6043, 1798, 4354, 6976, 6344…
$ valor_pago        <dbl> 424.31, 513.52, 1320.34, 1000.44, 1607.35, 1802.67, …

In [12]:
transacoes_milhas <- transacoes_milhas %>% filter(data_venda_milhas >= '2022-01-01' & data_venda_milhas <= '2022-12-31')

In [13]:
transacoes_milhas %>% glimpse()

Rows: 485
Columns: 4
$ id_cliente        <int> 109, 376, 443, 32, 842, 609, 391, 600, 101, 761, 959…
$ data_venda_milhas <chr> "2022-09-26", "2022-06-12", "2022-12-17", "2022-12-0…
$ milhas_vendidas   <int> 6525, 9955, 5913, 2854, 5686, 937, 1190, 8295, 635, …
$ valor_recebido    <dbl> 113.70, 466.73, 1489.56, 1983.85, 191.69, 183.50, 47…

In [14]:
transacoes_passagens <- transacoes_passagens %>% filter(data_transacao >= '2022-01-01' & data_transacao <= '2022-12-31')

In [15]:
transacoes_passagens %>% glimpse()

Rows: 502
Columns: 4
$ id_cliente        <int> 589, 774, 149, 620, 96, 449, 693, 242, 358, 317, 633…
$ data_transacao    <chr> "2022-02-11", "2022-09-23", "2022-11-07", "2022-08-1…
$ milhas_utilizadas <int> 2893, 2274, 6976, 6479, 9444, 8102, 5335, 7139, 7280…
$ valor_pago        <dbl> 1320.34, 1000.44, 309.56, 1869.74, 267.63, 268.38, 1…

In [16]:
transacoes_passagens <- transacoes_passagens %>% mutate(custo_por_milhas = valor_pago / milhas_utilizadas)

In [17]:
transacoes_passagens %>% glimpse()

Rows: 502
Columns: 5
$ id_cliente        <int> 589, 774, 149, 620, 96, 449, 693, 242, 358, 317, 633…
$ data_transacao    <chr> "2022-02-11", "2022-09-23", "2022-11-07", "2022-08-1…
$ milhas_utilizadas <int> 2893, 2274, 6976, 6479, 9444, 8102, 5335, 7139, 7280…
$ valor_pago        <dbl> 1320.34, 1000.44, 309.56, 1869.74, 267.63, 268.38, 1…
$ custo_por_milhas  <dbl> 0.45639129, 0.43994723, 0.04437500, 0.28858466, 0.02…

In [18]:
media_milhas <- transacoes_passagens %>% group_by(id_cliente) %>%
  summarise(media_milhas = mean(milhas_utilizadas))

In [19]:
media_milhas %>% head()

  id_cliente media_milhas
1  3         1023.0
2  7         7074.5
3 10         6537.0
4 12         9312.0
5 13         4123.0
6 15         7541.0

In [20]:
transacoes_passagens %>% head()

  id_cliente data_transacao milhas_utilizadas valor_pago custo_por_milhas
1 589        2022-02-11     2893              1320.34    0.45639129
2 774        2022-09-23     2274              1000.44    0.43994723
3 149        2022-11-07     6976               309.56    0.04437500
4 620        2022-08-12     6479              1869.74    0.28858466
5  96        2022-05-23     9444               267.63    0.02833863
6 449        2022-10-16     8102               268.38    0.03312515

In [21]:
transacoes_passagens <- transacoes_passagens %>% arrange(data_transacao)

In [22]:
transacoes_passagens %>% head()

  id_cliente data_transacao milhas_utilizadas valor_pago custo_por_milhas
1 967        2022-01-01     1198              1217.17    1.0160017
2 747        2022-01-01     8451              1064.09    0.1259129
3 237        2022-01-01     7996              1684.94    0.2107229
4 504        2022-01-02     6143               692.94    0.1128016
5 840        2022-01-02     5267              1496.54    0.2841352
6 396        2022-01-02     1929               760.04    0.3940073

In [23]:
transacoes_milhas <- transacoes_milhas %>% arrange(id_cliente)

In [24]:
transacoes_milhas %>% head()

  id_cliente data_venda_milhas milhas_vendidas valor_recebido
1  1         2022-07-12         868             432.43
2  6         2022-11-02        1014            1521.88
3  7         2022-09-05        6269             664.82
4 10         2022-05-21        4346            1662.99
5 10         2022-11-15         471             727.40
6 11         2022-02-17        6554            1381.80

In [25]:
transacoes_passagens <- transacoes_passagens %>% left_join(clientes, by = 'id_cliente')

In [26]:
transacoes_passagens %>% head()

  id_cliente data_transacao milhas_utilizadas valor_pago custo_por_milhas
1 967        2022-01-01     1198              1217.17    1.0160017
2 747        2022-01-01     8451              1064.09    0.1259129
3 237        2022-01-01     7996              1684.94    0.2107229
4 504        2022-01-02     6143               692.94    0.1128016
5 840        2022-01-02     5267              1496.54    0.2841352
6 396        2022-01-02     1929               760.04    0.3940073
  data_nascimento status_fidelidade milhas_acumuladas gasto_total
1 1963-12-21      Prata             7635               710.17
2 1967-04-16      Diamante          1952               706.99
3 1961-07-17      Ouro              5529              1002.03
4 1999-02-14      Diamante          8871               922.06
5 1983-12-04      Ouro              9589              1987.85
6 1972-06-30      Diamante          2142               285.24

In [27]:
transacoes_passagens <- transacoes_passagens %>% rename(
  ID_Cliente = id_cliente,
  Data_Compra_Passagem = data_transacao,
  Milhas_Utilizadas = milhas_utilizadas,
  Valor_Pago = valor_pago,
  Custo_Por_Milhas = custo_por_milhas,
  Aniversario = data_nascimento,
  Plano = status_fidelidade,
  Milhas_Acumuladas = milhas_acumuladas,
  Gasto_Total = gasto_total
)

In [28]:
transacoes_passagens %>% head()

  ID_Cliente Data_Compra_Passagem Milhas_Utilizadas Valor_Pago Custo_Por_Milhas
1 967        2022-01-01           1198              1217.17    1.0160017
2 747        2022-01-01           8451              1064.09    0.1259129
3 237        2022-01-01           7996              1684.94    0.2107229
4 504        2022-01-02           6143               692.94    0.1128016
5 840        2022-01-02           5267              1496.54    0.2841352
6 396        2022-01-02           1929               760.04    0.3940073
  Aniversario Plano    Milhas_Acumuladas Gasto_Total
1 1963-12-21  Prata    7635               710.17
2 1967-04-16  Diamante 1952               706.99
3 1961-07-17  Ouro     5529              1002.03
4 1999-02-14  Diamante 8871               922.06
5 1983-12-04  Ouro     9589              1987.85
6 1972-06-30  Diamante 2142               285.24

In [29]:
transacoes_passagens %>% count(ID_Cliente) %>% rename(Total_Compras = n) %>% arrange(desc(Total_Compras)) %>% head()

  ID_Cliente Total_Compras
1 586        5
2 544        4
3 861        4
4 175        3
5 207        3
6 239        3

In [30]:
dados_milhas <- transacoes_passagens %>% select(ID_Cliente, Milhas_Utilizadas)

In [31]:
total_milhas_por_cliente <- dados_milhas %>% group_by(ID_Cliente) %>% summarise(total_milhas = sum(Milhas_Utilizadas))

In [32]:
total_milhas_por_cliente %>% arrange(desc(total_milhas)) %>% head()

  ID_Cliente total_milhas
1 544        28726
2 572        22209
3 890        19566
4  96        19047
5 945        18514
6  32        18126

Categorização de Clientes por Milhas Utilizadas:

No dataset de transações, os clientes podem ser categorizados em três grupos com base no número de **Milhas Utilizadas** nas transações:

- **Baixo**: Clientes que utilizaram **menos de 2.000 milhas**.
- **Médio**: Clientes que utilizaram **entre 2.000 e 4.999 milhas**.
- **Alto**: Clientes que utilizaram **5.000 milhas ou mais**.

Essa categorização facilita a análise do perfil de consumo de milhas, ajudando a segmentar clientes de acordo com seu volume de uso.

In [33]:
 transacoes_passagens <- transacoes_passagens %>% mutate(categoria_cliente = case_when(
  Milhas_Utilizadas < 2000 ~ 'Baixo',
  Milhas_Utilizadas < 5000 ~ 'Medio',
  TRUE ~ 'Alto'
))

In [34]:
transacoes_passagens %>% head()

  ID_Cliente Data_Compra_Passagem Milhas_Utilizadas Valor_Pago Custo_Por_Milhas
1 967        2022-01-01           1198              1217.17    1.0160017
2 747        2022-01-01           8451              1064.09    0.1259129
3 237        2022-01-01           7996              1684.94    0.2107229
4 504        2022-01-02           6143               692.94    0.1128016
5 840        2022-01-02           5267              1496.54    0.2841352
6 396        2022-01-02           1929               760.04    0.3940073
  Aniversario Plano    Milhas_Acumuladas Gasto_Total categoria_cliente
1 1963-12-21  Prata    7635               710.17     Baixo
2 1967-04-16  Diamante 1952               706.99     Alto
3 1961-07-17  Ouro     5529              1002.03     Alto
4 1999-02-14  Diamante 8871               922.06     Alto
5 1983-12-04  Ouro     9589              1987.85     Alto
6 1972-06-30  Diamante 2142               285.24     Baixo

In [35]:
transacoes_passagens <- transacoes_passagens %>%
                        arrange(ID_Cliente, Data_Compra_Passagem) %>%
                        group_by(ID_Cliente) %>%
                        mutate(
                          diferenca_milhas = Milhas_Utilizadas - lag(Milhas_Utilizadas),
                          diferenca_valor_futuro = lead(Milhas_Utilizadas)
                        ) %>%
                        ungroup()

In [36]:
transacoes_passagens %>% head()

  ID_Cliente Data_Compra_Passagem Milhas_Utilizadas Valor_Pago Custo_Por_Milhas
1  3         2022-03-24           1023              1588.11    1.55240469
2  7         2022-09-16           9449              1906.01    0.20171553
3  7         2022-12-07           4700              1285.88    0.27359149
4 10         2022-06-07           6537               469.28    0.07178828
5 12         2022-10-29           9312               570.34    0.06124785
6 13         2022-09-07           4123               240.23    0.05826583
  Aniversario Plano    Milhas_Acumuladas Gasto_Total categoria_cliente
1 1994-07-18  Diamante  917               519.16     Baixo
2 1972-08-06  Diamante 2583               924.60     Alto
3 1972-08-06  Diamante 2583               924.60     Medio
4 1980-03-12  Bronze   3829               595.78     Alto
5 1978-10-09  Diamante 8857              1310.66     Alto
6 1996-12-31  Ouro     2228              1316.16     Medio
  diferenca_milhas diferenca_valor_futuro
1    NA              NA
2    NA            4700
3 -4749              NA
4    NA              NA
5    NA              NA
6    NA              NA

In [37]:
transacoes_passagens <- transacoes_passagens %>%
                                            mutate (
                                              diferenca_milhas = coalesce(diferenca_milhas, 0),
                                              diferenca_valor_futuro = coalesce(diferenca_valor_futuro, 0)
                                            )

In [38]:
transacoes_passagens %>% head()

  ID_Cliente Data_Compra_Passagem Milhas_Utilizadas Valor_Pago Custo_Por_Milhas
1  3         2022-03-24           1023              1588.11    1.55240469
2  7         2022-09-16           9449              1906.01    0.20171553
3  7         2022-12-07           4700              1285.88    0.27359149
4 10         2022-06-07           6537               469.28    0.07178828
5 12         2022-10-29           9312               570.34    0.06124785
6 13         2022-09-07           4123               240.23    0.05826583
  Aniversario Plano    Milhas_Acumuladas Gasto_Total categoria_cliente
1 1994-07-18  Diamante  917               519.16     Baixo
2 1972-08-06  Diamante 2583               924.60     Alto
3 1972-08-06  Diamante 2583               924.60     Medio
4 1980-03-12  Bronze   3829               595.78     Alto
5 1978-10-09  Diamante 8857              1310.66     Alto
6 1996-12-31  Ouro     2228              1316.16     Medio
  diferenca_milhas diferenca_valor_futuro
1     0               0
2     0            4700
3 -4749               0
4     0               0
5     0               0
6     0               0

In [39]:
transacoes_passagens <- transacoes_passagens %>% mutate (categoria_cliente =
                                            recode(categoria_cliente,
                                              'Baixo' = "Iniciante",
                                              "Medio" = "Intermediário",
                                              'Alto' = 'Avançado'
                                          ))

In [40]:
transacoes_passagens %>% head(10)

   ID_Cliente Data_Compra_Passagem Milhas_Utilizadas Valor_Pago
1   3         2022-03-24           1023              1588.11
2   7         2022-09-16           9449              1906.01
3   7         2022-12-07           4700              1285.88
4  10         2022-06-07           6537               469.28
5  12         2022-10-29           9312               570.34
6  13         2022-09-07           4123               240.23
7  15         2022-07-19           7541              1377.39
8  23         2022-03-04           6121              1092.10
9  26         2022-03-11           8204              1558.04
10 26         2022-04-04           8161               423.71
   Custo_Por_Milhas Aniversario Plano    Milhas_Acumuladas Gasto_Total
1  1.55240469       1994-07-18  Diamante  917               519.16
2  0.20171553       1972-08-06  Diamante 2583               924.60
3  0.27359149       1972-08-06  Diamante 2583               924.60
4  0.07178828       1980-03-12  Bronze   3829               595.78
5  0.06124785       1978-10-09  Diamante 8857              1310.66
6  0.05826583       1996-12-31  Ouro     2228              1316.16
7  0.18265349       1964-03-25  Ouro     1513               183.81
8  0.17841856       1973-01-16  Prata    6208               720.28
9  0.18991224       1975-02-07  Bronze   3053              1170.27
10 0.05191888       1975-02-07  Bronze   3053              1170.27
   categoria_cliente diferenca_milhas diferenca_valor_futuro
1  Iniciante             0               0
2  Avançado              0            4700
3  Intermediário     -4749               0
4  Avançado              0               0
5  Avançado              0               0
6  Intermediário         0               0
7  Avançado              0               0
8  Avançado              0               0
9  Avançado              0            8161
10 Avançado            -43               0

In [41]:
transacoes_passagens %>% select(ID_Cliente, Milhas_Utilizadas, Milhas_Acumuladas) %>% head()

  ID_Cliente Milhas_Utilizadas Milhas_Acumuladas
1  3         1023               917
2  7         9449              2583
3  7         4700              2583
4 10         6537              3829
5 12         9312              8857
6 13         4123              2228

In [44]:
df_long <- transacoes_passagens %>% pivot_longer(
  cols = starts_with('Milhas'),
  names_to = "Tipo_de_Milha",
  values_to = 'quantidade'
) %>% select(ID_Cliente, Tipo_de_Milha, quantidade)

In [45]:
df_long %>% head()

  ID_Cliente Tipo_de_Milha     quantidade
1 3          Milhas_Utilizadas 1023
2 3          Milhas_Acumuladas  917
3 7          Milhas_Utilizadas 9449
4 7          Milhas_Acumuladas 2583
5 7          Milhas_Utilizadas 4700
6 7          Milhas_Acumuladas 2583

In [46]:
df_long %>%
  group_by(Tipo_de_Milha) %>%
  summarise(
  media = mean(quantidade),
  mediana = median(quantidade),
  desvio_padrao = sd(quantidade)
)

  Tipo_de_Milha     media    mediana desvio_padrao
1 Milhas_Acumuladas 5028.865 4926.5  2916.979
2 Milhas_Utilizadas 5112.629 5260.5  2793.163